.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-title {
  top: 61px;
  color: #ffffff;
  position: absolute;
  font-size: 3rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
}
.home-powered {
  right: 73px;
  bottom: 5px;
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  font-family: Ubuntu;
  font-weight: 700;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-rustlogo {
  right: 15px;
  width: 50px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-container1 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-thermometer {
  max-height: 50vh;
  width: auto;
  align-self: center;
  object-fit: cover;
}
.home-temperature {
  color: #ffffff;
  font-size: 3em;
  align-self: center;
  font-style: normal;
  font-family: Ubuntu;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-temperature2 {
  display: none;
}
.home-plot {
  left: 66px;
  width: 90%;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  padding-left: 3rem;
}
@media(max-width: 991px) {
  .home-title {
    top: 0px;
    margin-top: 1rem;
  }
  .home-powered {
    display: none;
  }
  .home-rustlogo {
    display: none;
  }
  .home-container1 {
    width: 100%;
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
  }
  .home-container2 {
    top: -194px;
    left: 0px;
    display: none;
    position: absolute;
  }
  .home-container3 {
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    align-self: flex-end;
    align-items: center;
  }
  .home-temperature2 {
    color: #ffffff;
    display: flex;
    font-size: 2rem;
    font-style: normal;
    font-family: Ubuntu;
    font-weight: 700;
    padding-bottom: 0rem;
  }
  .home-plot {
    width: 100%;
    position: static;
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .home-powered {
    display: none;
  }
  .home-rustlogo {
    display: none;
  }
  .home-container1 {
    width: 100%;
    position: static;
    align-self: center;
    align-items: flex-end;
  }
  .home-container2 {
    position: static;
    align-self: flex-end;
  }
  .home-thermometer {
    width: 200%;
  }
  .home-container3 {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }
  .home-plot {
    width: 100%;
    position: static;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .home-title {
    top: 3rem;
    margin: auto;
  }
  .home-powered {
    display: none;
  }
  .home-rustlogo {
    display: none;
  }
  .home-container1 {
    width: 100%;
    position: static;
    align-self: center;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home-container2 {
    position: static;
  }
  .home-thermometer {
    display: none;
  }
  .home-temperature {
    display: none;
  }
  .home-container3 {
    height: 40%;
    position: static;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-temperature2 {
    color: #ffffff;
    display: flex;
    font-size: 3rem;
    font-style: normal;
    align-items: center;
    font-family: Ubuntu;
    font-weight: 700;
    padding-bottom: 0rem;
  }
  .home-plot {
    display: none;
    padding-left: 0rem;
  }
}
